@import "../src/scss/reset_style.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: auto;
}

.container {
  border-bottom: none;
  max-width: 1120px;
  max-height: 100%;
  margin: auto;
  position: relative;
}
@media (max-width: 1365px) {
  .container {
    max-width: 1119px;
    padding: 0 42px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 939px;
    padding: 0 34px;
  }
}
@media (max-width: 765px) {
  .container {
    max-width: 699px;
    padding: 0 20px;
  }
}

header {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  button {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: default;
  }
}

.filters {
  display: flex;
  align-items: top;
  margin-top: 35px;
  button {
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: default;
  }
  @import "../src/scss/firstInput.module.scss";
  @import "../src/scss/list.module.scss";
  @import "../src/scss/created.module.scss";
}

@media (max-width: 767px) {
  .filters {
    flex-direction: column;
    .firstInput {
      min-width: 280px;
      max-width: 700px;
      margin: 0 0 10px 0;
    }
    .list {
      min-width: 280px;
      max-width: 700px;
      margin: 0 0 10px 0;
    }
    .created {
      min-width: 280px;
      max-width: 700px;
      margin: 0;
    }
  }
}

.pics {
  position: absolute;
  top: 204px;
  max-width: 1120px;
}

@import "../src/scss/pagination.module.scss";

@import "../src/scss/paintings.module.scss";
