.list {
  border-radius: 8px;
  border: 1px solid;
  height: 45px;
  width: 100%;
  margin-right: 20px;
  .notSuccess {
    position: relative;
    right: 1px;
    color: red;
    border-radius: 8px;
    background-color: #fde8e8;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    height: 45px;
    overflow: hidden;
  }
  .inp {
    display: flex;
    align-items: top;
    height: 43px;
    div {
      padding-top: 16px;
    }
    input {
      width: 100%;
      background-color: transparent;
      border-radius: 8px;
      padding-left: 15px;
    }
    button {
      width: 20px;
      margin-right: 10px;
    }
    .x {
      margin-left: 10px;
    }
  }
  .listBlock {
    position: relative;
    left: -1px;
    top: 1px;
    display: flex;
    align-items: top;
    border: solid black;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    z-index: 2;
    .item {
      height: 45px;
      width: 100%;
      padding: 15px 0 15px 22px;
    }
    .authorList {
      overflow: auto;
      width: 98.1132%;
      position: relative;
      z-index: 2;
      &::-webkit-scrollbar {
        width: 8px;
        z-index: 2;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: #7b7b7b;
        border-radius: 8px;
      }
    }
    .spaceList {
      position: relative;
      z-index: 1;
      width: 1.8868%;
      &::-webkit-scrollbar {
        width: 0px;
      }
      li {
        width: 1.8868%;
        padding-left: 40px;
      }
    }
  }
}
